.main{
  min-height: 100vh;
  background-color: var(--dark);
  display: flex;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.logo{
  font-size: 25px;
  font-weight: 600;
  margin: 20px;
  margin-bottom: 30px;
  color: var(--light);
  span{
    cursor: pointer;
  }
}
.welcome{
  color: var(--light);
}
/*******Menu Section*********/
.left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  background-color: var(--shade-2);
}
.menu{
  display: flex;
  flex-direction: column;
  padding: 18px;
}
.menu li{
  display: flex;
  text-align: left;
  align-items: center;
  white-space: nowrap;
  font-size: larger;
  font-weight: 500;
  color: var(--light);
  cursor: pointer;
  margin-bottom: 18px;
  p{
    margin: 0;
  }
}
.left-section hr{
  width: 100%;
  background-color: rgb(231, 231, 231);
  height: 2px;
}
.contact-section{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 50px;
  padding: 90px 0;
}
.contact-section img{
  width: 120px;
  position: absolute;
  left: 0;
}
.contact-text{
  height: max-content;
  background-color: bisque;
  padding: 4px;
  width: 150px;
  z-index: 2;
  button{
      border: none;
      outline: none;
      border-radius: 9999px;
      padding: 5px 10px;
      background-color: #16331b;
      color: var(--light);
      font-weight: 600;
  }
}
.dashboard-active{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
  border-radius: 8px;
  p{
    margin-bottom: 0;
  }
}
/**************Dashboard Section************/
.right-section{
  width: calc(100% - 240px);
  padding: 16px;
}
.line{
  height: 2px;
  border-radius: 6px;
  margin: 18px auto;
  background-color: #16331b;
}

.welcome{
  text-align: center;
  margin-bottom: 18px;
  span{
    font-weight: 600;
    color: var(--shade-4);
    font-size: 20px;
  }
}
.heading{
  padding: 10px 18px;
  background-color: var(--shade-2);
  text-align: center;
  border-radius: 4px;
  color: var(--light);
  font-weight: 600;
  font-size: larger;
}
.bmi{
  background-color: var(--shade-2);
  width: 100%;
  margin: 20px auto;
  border-radius: 4px;
}
.bmi-container{
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 1500px;
  border-radius: 4px;
}
.bmi-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: var(--shade-2);
  padding: 12px;
  color: var(--light);
  span{
    color: #9f9f9f;
    font-size: medium;
    font-weight: 500;
    margin: 18px 0;
  }
}
.bmiCalculator{
  display: flex;
  gap: 12px;
  padding: 18px 0;
}
.form-bmi{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.bmiForm button{
  border-radius: 4px;
  width: 250px;
  background-color: var(--shade-1);
  border: none;
  color: var(--dark);
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  font-size: larger;
}
.form-bmi input{
  background-color: #002a31;
  color: var(--light);
  border-radius: 2px;
  padding: 10px 25px;
  border: none;
}
.bmi-right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.rcontainer{
  background-color: var(--shade-2);
  color: var(--light);
  padding: 12px;
  border-radius: 4px;
  display: flex;
}
.r-left{
  width: 56%;
}
.form-group {
  display: flex;
  gap: 8px;
  width: 100%; /* Ensure the div takes full width */
  max-width: 100%;
  height: 100%; /* Ensure the div takes full height */
}

.form-group input,
.form-group select {
  flex: 1; /* Makes them take equal width */
  height: 100%; /* Ensures they adjust to the div height */
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #002a31;
  color: var(--light);
}

.f-group{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.rForm{
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
}
.submit-btn{
  color: var(--shade-1);
  padding: 8px;
  font-size: larger;
  font-weight: 500;
  border-radius: 4px;
  color: var(--dark);
  background-color: var(--shade-1);
}
.submit-btn:disabled{
  cursor: not-allowed;
  background-color: #d8f9005d;
}
.r-right{
  width: 50%;
  display: flex;
  padding: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  span{
    font-size: 28px;
    font-weight: 600;
    color: var(--shade-1);
  }
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--shade-1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.showBMIDetails{
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bmi-r{
  color: var(--shade-1);
}
form label{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.group{
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  label{
    width: 50%;
  }
}
.group input,
.group select {
  flex: 1; /* Makes them take equal width */
  height: 100%; /* Ensures they adjust to the div height */
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #002a31;
  color: var(--light);
  width: 100%;
}
.predict ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.predict li{
  background-color: #002a312e;
  padding: 10px;
  border-radius: 4px;
}
.tracker-container{
  background-color: var(--shade-2);
  margin: 16px 0;
  border-radius: 4px;
  color: var(--light);
  display: flex;
  height: 370px;
}
.t-left{
  width: 50%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.t-right{
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.ag{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0;
}
.ag select,
 .ag input{
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #002a31;
  color: var(--light);
 }
.submit-btn-1{
  background-color: transparent;
  color: var(--shade-1);
  border: 1px solid var(--shade-1);
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  border-radius: 4px;
  font-size: larger;
  font-weight: 600;
}
.t-right{
  overflow: auto;
}
.t-right::-webkit-scrollbar{
  display: none;
}

.detailsPopup{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(77, 77, 77, 0.847);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupContent{
  padding: 18px;
  border-radius: 4px;
  background-color: var(--dark);
  width: 700px;
  color: var(--light);
  button{
    margin-top: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 8px 18px;
    background-color: var(--shade-1);
    color: var(--dark);
    margin-right: 16px;
    font-weight: 600;
  }
}
