<div class="navbar">
  <app-navbar></app-navbar>
</div>

<div class="main">
  <div class="gym-container">
    <div class="center">
      <h3>WISHLISTED ITEMS</h3>
    </div>
    <div *ngIf="gyms.length === 0" class="no-gyms">
      No Gyms available.
    </div>
    <div *ngFor="let gym of gyms" class="gym-card">
      <div class="gym-image">
        <img
          [src]="gym.images[0]"
          alt="Gym's Image"
        />
      </div>
      <div class="gym-details">
        <h5>{{ gym.centerName }}</h5>
        <p class="experience">
          {{ gym.centerType }}
        </p>
        <p class="qualification">{{ gym.availableInstruments.slice(0, 2).join(", ") }}...</p>

        <p class="location">
          <i class="fa-solid fa-location-dot"></i>&nbsp;{{ gym.address }},
          {{ gym.city }}
        </p>
      </div>
      <div class="gym-appointment">
        <p class="availableDays">{{ gym.daysAvailable.join(" - ") }}</p>
        <button
          class="bookAppointment"
          (click)="viewDetails(gym._id)"
        >
          View Details
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
